body {
    background-color: rgb(0, 0, 0);
}

/* .uno {
  position: fixed;
  top: 100px;
  left: 20px;
} */

.start {
  font-size: 25px;
  font-family: 'Montserrat Subrayada', sans-serif;
align-content: center;
}
