body {
    background-color: rgb(0, 0, 0);
}

/* .uno {
  position: fixed;
  top: 100px;
  left: 20px;
} */

.start {
  font-size: 25px;
  font-family: 'Montserrat Subrayada', sans-serif;
align-content: center;
}

.container {
    height: 100%;
    background-color: rgb(108, 167, 103);
}

.greco1 {
    position: absolute;
    top: 50%;
    left:50%;
    width: 1080px;
    height: 1080px;
    background: url('../images/greco_1.png');
    background-blend-mode: multiply;
}
