body {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

/* .uno {
  position: fixed;
  top: 100px;
  left: 20px;
} */

.next {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 20px;
  font-family: 'Montserrat Subrayada', sans-serif;
  color: white;
  z-index: 99999;
}

.container {
    top: 30px;
    height: 100%;
    background-color: rgb(108, 167, 103);
    position: absolute;
}

.greco1 {
    position: absolute;
    top: 0;
    left:50%;
    width: 1080px;
    max-width: 50vh;
    height: 1080px;
    max-height: 50vh;
    background-size: 100vh 100vh;
    background: url('../images/greco_1.png');
    background-blend-mode: multiply;
}

.greco1 img {
  position: relative;
  height: 100%;
  width: auto;
}
