
body {
    background-color: rgb(82, 148, 250);
    height: 2000px;

}

::-webkit-scrollbar {
    display: none;
}


.ticketname{
  font-family: 'Jura', sans-serif;
  color: black;
  font-size: 10pt;
}

#rectangle{
  position: relative;
  top: 100px;
  left: 300px;
    width:430px;
    height:250px;
    background: rgb(146, 235, 56);
     border: 2px solid white;
}

#line {
  position: absolute;
top: 20px;
left:0px;
width:430px;
height:2px;
background:black;
}

.container{
  position: relative;
top: -17.5px;
left: 431px;
  width:100px;
  height:250px;
  background-color:rgb(114, 182, 46);
  /* border: 2px solid white; */
  border: 2px white;
  border-style:  solid solid solid dashed;

}

.textinfo {
  font-family: 'Jura', sans-serif;
  position: absolute;
  top:400px;
  left: 310px;
  font-size: 18px;
  width: 500px;
  color: white;
    /* background-color: red; */
}

.chapters{
  font-family: 'Jura', sans-serif;
  position: absolute;
  top: 1420px;
  left: 30px;
  font-size: 42px;
  color: white;
}

.whatevershape {
  position: absolute;
  top: 1500px ;
  left: 0px;
  width:205px;
  height:500px;
  background-color: black;
  overflow:visible;


}


.whatevershape2 {
  position: absolute;
  top: 1500px;
  left: 210px;
  width:430px;
  height:100px;
  background-color: black;
  overflow:visible;

}


 .whatevershape3 {
  position: absolute;
  top: 1500px;
  left: 645px;
  width:175px;
  height:100px;
  background-color: black;
  overflow:visible;

}

.whatevershape4 {
  position: absolute;
  top: 1605px;
  left: 645px;
  width:175px;
  height:290px;
  background-color: black;

}

.whatevershape5 {
  position: absolute;
  top: 1605px;
  left: 210px;
  width:240px;
  height:125px;
  background-color: black;
  overflow:visible;

}

.whatevershape6 {
  position: absolute;
  top: 1605px;
  left: 455px;
  width:185px;
  height:250px;
  background-color: black;
  overflow:visible;

}


.whatevershape7 {
  position: absolute;
  top: 1735px;
  left: 210px;
  width:240px;
  height:265px;
  background-color:black;
  overflow:visible;

}

.whatevershape8 {
  position: absolute;
  top: 1860px;
  left: 455px;
  width:185px;
  height:140px;
  background-color: black;
  overflow:visible;
  }

  .whatevershape9 {
    position: absolute;
    top: 1900px;
    left: 645px;
    width:335px;
    height:100px;
    background-color: black;
    overflow:visible;
    }

    .whatevershape10 {
      position: absolute;
      top: 1500px;
      left: 825px;
      width:155px;
      height:395px;
      background-color: black;
      overflow:visible;
      }


.artmap {
position: absolute;
  left: 160px;
    top: -10px;
  }




.start {
  font-size: 20px;
  /* font-family: 'Montserrat Subrayada', sans-serif; */
  /* font-family: 'Modak', cursive; */
align-content: center;
color: white;
font-family: 'Jura', sans-serif;
top: 0px;
  left: 0px;
position: relative;
text-decoration: none;
animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
